ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 4px 10px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background-color: #337ab7;
    cursor: pointer;
}

button[type=submit] {
    background-color: #5cb85c;
}

textarea {
    resize: none;
}

form .control label {
    display: block;
}

.error-block {
    margin: 15px 10px 15px;
    color: #FF0000;
}

.back-btn {
    margin-top: 15px;
    display: block;
}

.logout-btn {
    float: right;
}

.questions {
    width: 50%;
}

.questions input[type=text], .questions textarea {
    width: 90%;
}
.questions input[type=radio] {
    width: 3%;
}

.correct-answer {
    color: #ff0000;
}

.post, .comment {
    margin-bottom: 10px;
    padding: 7px;
    background: #c9ffc3;
    border-radius: 5px;
}

.comment {
    margin-left: 20px;
    background-color: #cde2e9;
}

.post-user, .post-date {
    font-size: 11px;
}

.post-date {
    margin-bottom: 5px;
    font-style: italic;
}